body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
  }

  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3741A0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    background-color: #283080;
  }

  .lyrics {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-height: 500px;
    overflow-y: auto;
  }

  .lyrics p {
    margin: 5px 0;
  }